<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear detalle de producto</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/toastr.min.css">
</head>
<body>
    
    <div class="container">

        <div class="row mt-4">

            <div class="col-3">
                <ul class="list-group">
                    <a href="/create-products" class="list-group-item list-group-item-action" aria-current="true">Crear producto</a>
                    <a href="/create-detail" class="list-group-item list-group-item-action active">Crear detalle producto</a>
                    <a href="/list-products" class="list-group-item list-group-item-action">Listar productos</a>
                    <a href="/search-detail" class="list-group-item list-group-item-action">Listar detalle de producto</a>
                </ul>
            </div>

            <div class="col-6">
                
                <form id="details" name="details" method="POST">

                    <div class="card">

                        <div class="card-header"><h5 class="text-primary">Crear detalle de producto</h5></div>
                    
                        <div class="card-body">

                            <p>Los campos marcados con asterisco <b class="text-danger">*</b> son <b class="text-danger">requeridos</b>.</p>

                            <div class="row">

                                <div class="form-group col-12">
                                    <label for="slcProducto">Producto <b class="text-danger">*</b></label>
                                    <select id="slcProducto" name="slcProducto" class="form-control" required>
                                        <option value="">SELECCIONE PRODUCTO</option>
                                        <% products.forEach(function(product) { %>
                                            <option value="<%= product.idproducto+'|'+product.precio %>"><%= product.nombre %></option>
                                        <% }); %>
                                    </select>
                                </div>
                
                                <div class="form-group col-12">
                                    <label for="txtCantidad">Cantidad <b class="text-danger">*</b></label>
                                    <input id="txtCantidad" name="txtCantidad" type="text" class="form-control" placeholder="Cantidad del producto" required>
                                </div>
                
                            </div>

                        </div>

                        <div class="card-footer text-right">
                            <button id="btnSaveDetail" type="button" class="btn btn-primary">
                                Guardar
                            </button>
                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/toastr.min.js"></script>
    <script src="js/app-main.js"></script>
    
</body>
</html>