<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear producto</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/toastr.min.css">
</head>
<body>
    
    <div class="container">
        
        <div class="row mt-4">

            <div class="col-3">
                <ul class="list-group">
                    <a href="/create-products" class="list-group-item list-group-item-action active" aria-current="true">Crear producto</a>
                    <a href="/create-detail" class="list-group-item list-group-item-action">Crear detalle producto</a>
                    <a href="/list-products" class="list-group-item list-group-item-action">Listar productos</a>
                    <a href="/search-detail" class="list-group-item list-group-item-action">Listar detalle de producto</a>
                </ul>
            </div>

            <div class="col-6">
                
                <form id="products" name="products" method="POST">

                    <div class="card">

                        <div class="card-header"><h5 class="text-primary">Crear producto</h5></div>
                    
                        <div class="card-body">

                            <p>Los campos marcados con asterisco <b class="text-danger">*</b> son <b class="text-danger">requeridos</b>.</p>

                            <div class="row">

                                <div class="form-group col-12">
                                    <label for="txtNombre">Nombre <b class="text-danger">*</b></label>
                                    <input id="txtNombre" name="txtNombre" type="text" class="form-control" placeholder="Nombre del producto" required>
                                </div>
                
                                <div class="form-group col-12">
                                    <label for="txtDescripcion">Descripción <b class="text-danger">*</b></label>
                                    <input id="txtDescripcion" name="txtDescripcion" type="text" class="form-control" placeholder="Descripción del producto" required>
                                </div>

                                <div class="form-group col-12">
                                    <label for="txtPrecio">Precio <b class="text-danger">*</b></label>
                                    <input id="txtPrecio" name="txtPrecio" type="text" class="form-control" placeholder="Precio del producto" required>
                                </div>
                
                            </div>

                        </div>

                        <div class="card-footer text-right">
                            <button id="btnSaveProduct" type="button" class="btn btn-primary">
                                Guardar
                            </button>
                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/toastr.min.js"></script>
    <script src="js/app-main.js"></script>
    
</body>
</html>