<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar productos</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/dataTables.bootstrap.min.css">
</head>
<body>
    
    <div class="container">
        
        <div class="row mt-4 mb-5">

            <div class="col-3">
                <ul class="list-group">
                    <a href="/create-products" class="list-group-item list-group-item-action" aria-current="true">Crear producto</a>
                    <a href="/create-detail" class="list-group-item list-group-item-action">Crear detalle producto</a>
                    <a href="/list-products" class="list-group-item list-group-item-action active">Listar productos</a>
                    <a href="/search-detail" class="list-group-item list-group-item-action">Listar detalle de producto</a>
                </ul>
            </div>

            <div class="col-9">
                
                <div class="card">

                    <div class="card-header"><h5 class="text-primary">Listar productos</h5></div>
                
                    <div class="card-body">

                        <table class="table table-hover newrone-table">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Nombre</th>
                                    <th class="text-center">Descripción</th>
                                    <th class="text-center">Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% products.forEach(function(product) { %>
                                    <tr>
                                        <td class="text-center"><%= product.idproducto %></td>
                                        <td><%= product.nombre %></td>
                                        <td><%= product.descripcion %></td>
                                        <td class="text-center"><%= product.precio %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/toastr.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/dataTables.bootstrap.min.js"></script>
    <script src="js/app-main.js"></script>

    <script>
        renderDT();
    </script>
    
</body>
</html>