<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar detalle de producto</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/toastr.min.css">
</head>
<body>
    
    <div class="container">

        <div class="row mt-4">

            <div class="col-3">
                <ul class="list-group">
                    <a href="/create-products" class="list-group-item list-group-item-action" aria-current="true">Crear producto</a>
                    <a href="/create-detail" class="list-group-item list-group-item-action">Crear detalle producto</a>
                    <a href="/list-products" class="list-group-item list-group-item-action">Listar productos</a>
                    <a href="/search-detail" class="list-group-item list-group-item-action active">Listar detalle de producto</a>
                </ul>
            </div>

            <div class="col-6">
                
                <div class="card">

                    <div class="card-header"><h5 class="text-primary">Buscar detalle de producto</h5></div>
                
                    <div class="card-body">

                        <div class="row">

                            <div class="form-group col-12">
                                <label for="slcProductoSearch">Producto</label>
                                <select id="slcProductoSearch" name="slcProductoSearch" class="form-control">
                                    <option value="">SELECCIONE PRODUCTO</option>
                                    <% products.forEach(function(product) { %>
                                        <option value="<%= product.idproducto %>"><%= product.nombre %></option>
                                    <% }); %>
                                </select>
                            </div>

                            <div class="form-group col-6">
                                <label for="txtCantidad">Cantidad</label>
                                <input id="txtCantidad" name="txtCantidad" type="text" class="form-control" placeholder="Cantidad del producto" readonly>
                            </div>

                            <div class="form-group col-6">
                                <label for="txtValTotal">Valor Total</label>
                                <input id="txtValTotal" name="txtValTotal" type="text" class="form-control" placeholder="Valor total del producto" readonly>
                            </div>

                            <div class="form-group col-6">
                                <label for="txtValIVA">Valor IVA</label>
                                <input id="txtValIVA" name="txtValIVA" type="text" class="form-control" placeholder="Valor IVA del producto" readonly>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/toastr.min.js"></script>
    <script src="js/app-main.js"></script>
    
</body>
</html>